<Contents>
    <ContentItem>
        <Title><%= title %></Title>
        <Synopsis><%= synopsis %></Synopsis>
        <OriginSite><%= origin_site %></OriginSite>
        <OriginSiteName><%= origin_site_name %></OriginSiteName>
        <ContentID><%= content_id %></ContentID>
        <ContentURL DRMSystemID="urn:dvb:casystemid:19188"
                    TransferType="streaming"
                    Size="10939126"
                    Duration="00:02:18"
                    MD5Hash="9bfa2fb91da2a0190a547aac8d3b6e88"
                    MIMEType="application/vnd.oma.drm.dcf"
                    MediaFormat="MP4_DCF"
                    VideoCoding="AVC_SD_25"
                    AudioCoding="AAC-LC"><%= content_url %></ContentURL>
        <ArtworkURL ProfileID="JPEG_SM" ArtworkType="cover_art" width="200" height="281"><%= artwork_url %></ArtworkURL>
        <DRMControlInformation>
            <DRMSystemID>urn:dvb:casystemid:19188</DRMSystemID>
            <DRMContentID><%= content_id %></DRMContentID>
            <SilentRightsURL><%= rights_url %></SilentRightsURL>
        </DRMControlInformation>
        <DefaultLanguage>http://devtest.mpsdev.com/blueport_ContentData/</DefaultLanguage>
    </ContentItem>
</Contents>